{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/htmx.org@2.0.2/dist/htmx.js" integrity="sha384-yZq+5izaUBKcRgFbxgkRYwpHhHHCpp5nseXp0MEQ1A4MTWVMnqkmcuFez8x5qfxr" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'signup/css/signup.css' %}">
    </head>
    <body>
        <button id="findme">Find Me</button>
        <h1>SignUp Form Prototype</h1>
        <p>This form is intentionally ugly. I do not want to promote a CSS framework or distract by a CSS framework.</p>
        <p>This form uses HTMX. I do want to promote HTMX.</p>
        <form hx-include="closest form" method="POST" enctype="multipart/form-data">
            <h2>Preview of the formatted address</h2>
            <pre id="htmx-preview">
            </pre>
            <h2>User input</h2>
            {% include "./part/entity.html" %}
            {% include "./part/address.html" %}
            {% include "./part/organization.html" %}
            {% include "./part/person.html" %}
            {% include "./part/bank.html" %}
            <div id="htmx-target">
            </div>
            {% csrf_token %}
            <input type="submit" value="Sign Up" />
        </form>
    </body>
    <script language="javascript">
        async function error() {
        }
        async function success(position) {
            const url = "{% url 'signup-findme' %}?" + new URLSearchParams({
                latitude: position.coords.latitude,
                longitude: position.coords.longitude,
            }).toString();
            const response = await fetch(url);

            if (response.ok) {
                const result = await response.json();

                document.querySelector("#address-country").addEventListener(
                    "htmx:after-swap",
                    function() {
                        console.log("#address-country htmx:after-swap");

                        if (result["address_level1area"] !== null) {
                            document.querySelector("#address-level1area").addEventListener(
                                "htmx:after-swap",
                                function () {
                                    if (result["address_level2area"] !== null) {
                                        document.getElementById("address-level2area").value = result["address_level2area"];
                                        document.getElementById("address-settlement").value = result["address_settlement"];
                                        htmx.trigger("#address-level2area", "change");
                                    }
                                },
                                {
                                    once: true,
                                }
                            );


                            htmx.trigger("#address-level1area", "change");
                        }
                    },
                    {
                        once: true,
                    });

                document.getElementById("address-country").value = result["address_country"];

                console.log(result["address_level1area"]);
                console.log(result["address_level2area"]);
                console.log(result["address_settlement"]);

                if (result["address_level1area"] != null) {
                    document.getElementById("address-level1area").value = result["address_level1area"];
                }

                if (result["address_level2area"] != null) {
                    document.getElementById("address-level2area").value = result["address_level2area"];
                }

                document.getElementById("address-settlement").value = result["address_settlement"];

                htmx.trigger("#address-country", "change");
                console.log("#address-country change");
            }
        }
        async function findme() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(success, error);
            }
        }

        document.querySelector("#findme").addEventListener("click", findme);
    </script>
</html>
