{% if address_street_line0.order == order %}<div id="htmx-address-street-line0" hx-swap-oob="true">{% if address_street_line0.visible %}
    <label for="address-street-line0">{{ address_street_line0.label }}:&nbsp;</label><input
        id="address-street-line0"
        name="address_street_line0"
        type="text"
        value="{{ address_street_line0.value }}"
        required
        hx-post="{% url 'signup-htmx-preview' %}"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#htmx-target" />{% endif %}
</div>{% endif %}