{% if address_level2area.order == order %}<div id="htmx-address-level2area" hx-swap-oob="true">{% if address_level2area.visible %}
    <label for="address-level2area">{{ address_level2area.label }}:&nbsp;</label><select {% if not address_level2area.enabled %}disabled{%endif%}
        id="address-level2area"
        name="address_level2area"
        required
        hx-post="{% url 'signup-htmx-level2area' %}"
        hx-trigger="change"
        hx-target="#htmx-target">
        <option value="" style="visibility: hidden; display:none;"></option>
        {% for c in address_level2area_choices %}
        <option value="{{c.iso_3166_a2}}" {% if c.iso_3166_a2 == address_level2area.value %}selected{% endif %}>{{c.name}}</option>{% endfor %}
    </select>{% else %}
    <input id="address-level2area" name="address_level2area" type="hidden" />{% endif %}
</div>{% endif %}