{% if address_street_line2.order == order %}<div id="htmx-address-street-line2" hx-swap-oob="true">{% if address_street_line2.visible %}
    <label for="address-street-line2">{{ address_street_line2.label }}:&nbsp;</label><input
        id="address-street-line2"
        name="address_street_line2"
        type="text"
        value="{{ address_street_line2.value }}"
        required
        hx-post="{% url 'signup-htmx-preview' %}"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#htmx-target" />{% endif %}
</div>{% endif %}